# Use nix flake for development environment
if ! has nix_direnv_version || ! nix_direnv_version 2.3.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.3.0/direnvrc" "sha256-Dmd+j63L84wuzgyjITIfSqjKQKQ0rFyHgslOZ1x0Xyk="
fi

use flake
